<html>
  <head>
    <script src="https://kit.fontawesome.com/327f15e714.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="project2.css" />
    <title>Find NGO</title>
  </head>
  <body>
    <section class="sub-header">
      <div id="navbar">
        <div>
          {{#if user}}
          <p>Welcome {{user.name}}</p>
          {{/if}}
        </div>
        <ul>
          <li><a href="{{ auth_url }}">{{ auth }}</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/contact">Contact us</a></li>
        </ul>
      </div>
        <h1>About us</h1>
      </section>
    <section class="about-us">
        <div class="row">
            <div class="about-col">
               <h1>About our Website</h1>
               <p>Our website aims to connect volunteers with NGO's and has been successful in connecting NGO's with harworking and like minded individuals who truly seek to make a difference to the society.</p>
               <a href="/" class="hero-btn  red-btn">EXPLORE NOW</a><br>
            </div>
            <div class="about-col">
              <img class="image1" src="/assets/favicon">
            </div>
        </div>
    </section>
    <!----Footer---->
    <section class="footer">
    
       <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa-brands fa-discord"></i>
        <i class="fa-brands fa-linkedin-in"></i>
        </div>
    <p>Made by Innovators</p>
    </section>
    </body>
    </html>
    