<html>
  <head>
    <script src="https://kit.fontawesome.com/327f15e714.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="project2.css" />
    <title>COACHING CLASSES </title>
  </head>
  <body>
    <section class="sub-header">
        <nav>
          <div id="navbar">
            <ul>
              <li><a href="project2.html">HOME</a></li>
              <li><a href="aboutus.html">ABOUT</a></li>
              <li><a href="course.html">COURSE</a></li>
              <li><a href="blog.html">BLOG</a></li>
              <li><a href="contact.html">CONTACT US</a></li>
            </ul>
          </div>
        </nav>
        <h1>ONLINE COURSES FOR 2022</h1>
      </section>
      <section class="blog-content">
        <div class="row">
          <div class="blog-left">

         <img src="https://imgs.search.brave.com/ZrPrX8asGFsTfnLYvU0ebMi_2-jjvZLsydFmFrZne6U/rs:fit:1200:675:1/g:ce/aHR0cHM6Ly93d3cu/Z2FwcHQub3JnL2Fz/c2V0cy9pbWFnZXMv/Q2VydGlmaWNhdGlv/bi9TY2hvbGFyc2hp/cC1JbWFnZS5qcGc">
        <h2>Scolorship Program for 2022</h2>
        <p>Wisdom education coaching center every year provides Scolorship to many students based on their performance in enterance exam by our institute .All studets who are eligible for giving exam automatically comes under this 
          Scolorship program . All you have to do is enroll in enterance exam and you will automatically get the Scolorship based on your performance on the exam . Each year students who score very well in our exam even gets 100% free
        Scolorship . This year it can be you also. So what you are waiting for ? Apply to your Scolorship exam , study hard and try to attain the 100% Scolorship .<br>
       We wish you all the best </p>
            <div class="comment-box">
                <h3>Leave a comment</h3>
                <form class="comment-form">
                    <input type="text" placeholder="Enter a name"> <input type="email" placeholder="Enter email">
                    <textarea rows="5" placeholder="Your commment"></textarea>
                    <button type="submit" class="hero-btn red-btn">Post comment</button>
                </form>
            </div>
         </div>
         <div class="blog-right">
            <h3>HALL OF FAME</h3>
            <div>
                <span>NEET</span>
                <span>320 students cleared</span>
            </div>
            <div>
                <span>JEE MAINS</span>
                <span>920 students cleared</span>
            </div>
            <div>
                <span>JEE ADVANCE</span>
                <span>350 students cleared</span>
            </div>
            <div>
                <span>GATE EXAM</span>
                <span>123 students cleared</span>
            </div>
        </div>
         </div>
      </section>

      <section class="footer">
        <h4>About us</h4>
        <p>Our wisdom coaching center always tries to stay on top and for that it provides whatever all they can . For us <br>
        all students are same and our main priority is to maximize knowledge of each and every studnet .<br>Feel free to contact us from links given below. Hope to see you soon</p>
         <div class="icons">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa-brands fa-discord"></i>
          <i class="fa-brands fa-linkedin-in"></i>
          </div>
      <p>Made by Aryan Mamania</p>
      </section>
      </body>
      </html>

