<html>
  <head>
    <script src="https://kit.fontawesome.com/327f15e714.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="project2.css" />
    <title>SPORTS CLUB</title>
  </head>
  <body>
    <section class="header">
      <div id="navbar">
        <div>
          {{#if user}}
          <p>Welcome {{user.name}}</p>
          {{/if}}
        </div>
        <ul>
          <li><a href="{{ auth_url }}">{{ auth }}</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/contact">Contact us</a></li>
        </ul>
      </div>
      <div class="text-box">
        <h1>Contact us</h1>
      </div>
    </section>

 <section class="location">
    {{!-- <iframe src="https://www.google.com/maps/place/K.+R.+Mangalam+University/@28.272428,77.0671828,17z/data=!3m1!4b1!4m6!3m5!1s0x390d25a4b2bc03f9:0x9f642d679654b239!8m2!3d28.272428!4d77.0697577!16s%2Fm%2F0zdn5fl?entry=ttu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> --}}
    <a href="https://www.google.com/maps/place/K.+R.+Mangalam+University/@28.272428,77.0671828,17z/data=!3m1!4b1!4m6!3m5!1s0x390d25a4b2bc03f9:0x9f642d679654b239!8m2!3d28.272428!4d77.0697577!16s%2Fm%2F0zdn5fl?entry=ttu" target="_blank">
      <img style="display:block; margin: auto;" src="/assets/location" alt="">
    </a>
 </section>
 <section class="contact-us">
    <div class="row">
        <div class="contact-col">
            <div>
                <i class="fa fa-home"></i>
                <span>
                    <h5>K.R. Mangalam University, Sohna Road</h5>
                    <p>Gurgaon, Haryana</p>
                </span>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <span>
                    <h5>+91 9244082241 </h5>
                    <p>Monday to Saturday 10am-5pm</p>
                </span>
            </div>
            <div>
                <i class="fa fa-envelope-o"></i>
                <span>
                    <h5>priyagurung2304@gmail.com </h5>
                    <p>Email Us Your Query</p>
    
                </span>
            </div>
            
    

        </div>
     <div class="contact-col">
        <form action="">
            <input type="text" placeholder="Enter your Name" required>
            <input type="email" placeholder="Enter your Email Address" required>
            <textarea rows="8" placeholder="Enter your Query" required></textarea>
        </form>
        <a href="" class="hero-btn  red-btn">SEND</a>
     </div>
 </section>

 <section class="footer">
  <h4>Contact Us</h4>
   <div class="icons">
    <i class="fa fa-facebook"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa-brands fa-discord"></i>
    <i class="fa-brands fa-linkedin-in"></i>
    </div>
<p>Made by Innovators</p>
</section>
</body>
</html>

