<html>
  <head>
    <script src="https://kit.fontawesome.com/327f15e714.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="project2.css" />
    <title>coaching Institute</title>
  </head>
  <body>
    <section class="sub-header">
       <div id="navbar">
        <div>
          {{#if user}}
          <p>Wlecome {{user.name}}</p>
          {{/if}}
        </div>
        <ul>
          <li><a href="{{ auth_url }}">{{ auth }}</a></li>
          <li><a href="/">HOME</a></li>
          <li><a>ABOUT US</a></li>
          <li><a href="/course">COURSE</a></li>
          <li><a href="/blog">BLOG</a></li>
          <li><a href="/contact">CONTACT US</a></li>
        </ul>
      </div>
        <h1>COURSE</h1>
      </section>
      <section class="course">
        <h1>COURSES WE OFFER</h1>
        <p>We offer different types of courses for students of different classes</p>
        <div class="row">
          <div class="course-col">
            <h3><b>4Y-Integrated Classroom Course for Class IX to XII</b></h3>
            <p>This course is for Class 9 Students. <br>
              It is for 3-4 days a week for weekdays and 2 days a week for weekends: Saturday & Sunday <br>
              Batch Starting On 3rd week of March, 2022 and Batch Ending On February, 2026 <br>
              <u> Scholarship Available</u>
            </p>
          </div>
          <div class="course-col">
            <h3><b>3Y-Integrated Classroom Course for Class IX to XII</b></h3>
            <p>This course is for Class 10 Students. <br>
              It is for 3-4 days a week for weekdays and 2 days a week for weekends: Saturday & Sunday <br>
              Batch Starting On 3rd week of March, 2022 and Batch Ending On February, 2025 <br>
              <u> Scholarship Available</u>
            </p>
          </div>
          <div class="course-col">
            <h3><b>2Y-Integrated Classroom Course for Class IX to XII</b></h3>
          <p>This course is for Class 11 Students. <br>
            It is for 3-4 days a week for weekdays and 2 days a week for weekends: Saturday & Sunday <br>
            Batch Starting On 3rd week of March, 2022 and Batch Ending On February, 2024 <br>
            <u> Scholarship Available</u>
          </p>
          </div>
        </div>
      </section>
      <section class="facilities">
        <h1>Facilities we provide</h1>
         <P>These are different facilities provided to our students</P>
         <div class="row">
          <div class="facilities-col-b">
             <img src="https://imgs.search.brave.com/UBdWUCXc9axsqe8aVeOFKnj-TdgazIGpwQ6VCrivAO8/rs:fit:602:452:1/g:ce/aHR0cHM6Ly9xcGgu/ZnMucXVvcmFjZG4u/bmV0L21haW4tcWlt/Zy0yZGFhMjBhZjM5/OTI5MTQ1OWY5NWIx/YzNhNWQ0NDYzMw" alt="ac">
             <h3>AC HALLS</h3>
             <p>We belive that students should be provided with a clean and smart environment to they 
               can pay full attention to studies and listen to what actually they are being taught. A friendly 
               environment will lead to smart kids .<br>
               The halls are large enough and students are provided with enough space so they can feel
               comfortable and relaxed. 
             </p>
           </div>
          <div class="facilities-col-a">
             <img src="https://imgs.search.brave.com/UmMNtx8UQZozlMs_AyTZ68RzTqvX52i1-UjD9l69Luo/rs:fit:711:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5I/N1YwVGk5YzRKVWlH/Qm9YRkFtcENnSGFF/OCZwaWQ9QXBp" alt="books">
             <h3>MODULE BOOK</h3>
             <p>We belive that notes are must for a students so we provide our students with modules of all 
               subjects which consists of handmade notes and questions made with help of top teachers around 
               the world . <BR>
                Students are encouraged to solve the questions in modules in a given time to increase their knowledge
                and prepare for different exams.
             </p>
          </div>
          <div class="facilities-col-a">
            <img src="https://imgs.search.brave.com/gmGxXgLNYAEPlndkr-AUWsoZ-4zIRZFqsTQ3Scbrqi0/rs:fit:844:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC52/cU1Xek9VX2NuX2du/SmtFTWh0VG5BSGFF/SyZwaWQ9QXBp" alt="teachers">
            <h3>TOP TIER TEACHERS</h3>
           <p>Our all coaching institutes contains professional teachers who have all knowledge in their respective
             fields. They are even given a one month course on how to teach students so they dont lack teaching skills  
            and become more like a professional teachers also so they can help students grow who are seeds for next generation</p>
       </div>
    </section>
   
    <section class="footer">
      <h4>About us</h4>
      <p>Our wisdom coaching center always tries to stay on top and for that it provides whatever all they can . For us <br>
      all students are same and our main priority is to maximize knowledge of each and every studnet .<br>Feel free to contact us from links given below. Hope to see you soon</p>
       <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa-brands fa-discord"></i>
        <i class="fa-brands fa-linkedin-in"></i>
        </div>
    <p>Made by Aryan Mamania</p>
    </section>
    </body>
    </html>