<html>
  <head>
    <script src="https://kit.fontawesome.com/327f15e714.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="project2.css" />
    <title>Find NGO</title>
  </head>
  <body>
    <section class="sub-header">
        <nav>
          <div id="navbar">
            <ul>
              <li><a href="project2.html">HOME</a></li>
              <li><a href="aboutus.html">ABOUT US</a></li>
              <li><a href="contact.html">CONTACT US</a></li>
            </ul>
          </div>
        </nav>
        <h1> HEALTH RELATED NGOs</h1>
      </section>
      <section id= "education">
      <div>
        <div>
            <div>
                <p> God Gives Everything   </p><br>
                <p>  Education </p> <br>
                <p>Organization in Delhi</p> <br>
            </div>
        </div>
      </div>
    </section>


  
    <!----Footer---->
    <section class="footer">
    
       <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa-brands fa-discord"></i>
        <i class="fa-brands fa-linkedin-in"></i>
        </div>
    <p>Made by INNOVETORS</p>
    </section>
    </body>
    </html>
    