<html>
  <head>
    <script
      src="https://kit.fontawesome.com/327f15e714.js"
      crossorigin="anonymous"
    ></script>
    <title>Find NGO</title>
  </head>
  <body>
    <section class="header">
      {{!-- <nav> --}}
        <div id="navbar">
          <div>
            {{#if user}}
            <p>Wlecome {{user.name}}</p>
            {{/if}}
          </div>
          <ul>
            <li><a href="{{ auth_url }}">{{ auth }}</a></li>
            <li><a href="./index.html">HOME</a></li>
            <li><a href="./about.html">ABOUT US</a></li>
            <li><a href="./course.html">COURSE</a></li>
            <li><a href="./blog.html">BLOG</a></li>
            <li><a href="./contact.html">CONTACT US</a></li>
          </ul>
        </div>
      {{!-- </nav> --}}
      <div class="text-box">
        <h1>FIND NGO</h1>
        <p>
          The best website to find volunteers or volunteering work that align
          with your interests.
        </p>
        <a href="" class="hero-btn">Know More</a>
      </div>
    </section>
    <!------ Courses ------->
    <section class="course">
      <h1><em>Fields that interest you</em></h1>
      <div class="row">
        <div class="course-col">
          <a
            href="women.html"
            style="font-family: Arial; color: black; font-size: large"
            ><b>WOMEN EMPOWERMENT</b></a
          >
        </div>
        <div class="course-col">
          <a
            href="education.html"
            style="font-family: Arial; color: black; font-size: large"
            ><b>EDUCATION</b></a
          >
        </div>
        <div class="course-col">
          <a
            href="women.html"
            style="font-family: Arial; color: black; font-size: large"
            ><b>CHILDREN</b></a
          >
        </div>
      </div>
    </section>
    <!-- campus -->
    <section class="campus">
      <h1>Countries to Volunteer in</h1>
      <p1
        >NGO's from all across the globe request our services. Major countries
        include:</p1
      >
      <div class="row">
        <div class="campus-col">
          <img
            src="https://a.cdn-hotels.com/gdcs/production29/d1870/6a5ec560-bb25-11e8-970b-0242ac110006.jpg?impolicy=fcrop&w=800&h=533&q=medium"
            alt="campus"
          />
          <div class="layer">
            <h3>United Kingdom</h3>
          </div>
        </div>
        <div class="campus-col-a">
          <img
            src="https://www.state.gov/wp-content/uploads/2019/04/Japan-1024x683.jpg"
            alt="campus"
          />
          <div class="layer">
            <h3>Japan</h3>
          </div>
        </div>
        <div class="campus-col">
          <img
            src="https://www.visapasspo.com/wp-content/uploads/2023/03/uss.jpg"
            alt="campu"
          />
          <div class="layer">
            <h3>USA</h3>
          </div>
        </div>
      </div>
    </section>
    <!----testimonilas-->
    <section class="testimonials">
      <h1>Reviews from our Volunteers</h1>
      <div class="row">
        <div class="testimonials-col">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Mother_Teresa_1.jpg/330px-Mother_Teresa_1.jpg"
            alt="cricket"
          />
          <div>
            <p>
              <font size="4"
                >Find NGO helped me find a wonderful volunteering opportunity
                that helped me aid millions of orphans and needy around the
                world.</font
              >
            </p>
            <h3>Mother Teresa</h3>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
        </div>
        <div class="testimonials-col">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Nelson_Mandela_1994.jpg/800px-Nelson_Mandela_1994.jpg"
            alt="cricket"
          />
          <div>
            <p>
              <font size="4"
                >This website helped me find volunteers to figth against
                apartheid and help change the life of millions of South
                Africans.</font
              >
            </p>
            <h3>Nelson Mandela</h3>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
      </div>
    </section>
    <!----call to action---->
    <section class="cta">
      <h1>To upload adds or know more about our website</h1>
      <a href="" class="hero-btn">CONTACT US</a>
    </section>
    <!----Footer---->
    <section class="footer">
      <p>Connect through</p>
      <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa-brands fa-discord"></i>
        <i class="fa-brands fa-linkedin-in"></i>
      </div>
      <p>Made by YR-I-133</p>
    </section>
  </body>
</html>
